@using Microsoft.AspNetCore.Components.Authorization
<nav class="flex-column">
    <div class="nav-item">
        <label for="sidebar-toggle">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>
                <span>Inicio</span>
            </NavLink>
        </label>
    </div>
    
    <AuthorizeView>
        <Authorized>
            <AuthorizeView Roles="Admin">
                <Authorized Context="adm">
                    <div class="nav-item">
                        <label for="sidebar-toggle">
                            <NavLink class="nav-link d-flex align-items-center gap-2" href="admin">
                                <span class="oi oi-cog" aria-hidden="true"></span>
                                <span>Panel Admin</span>
                            </NavLink>
                        </label>
                    </div>
                </Authorized>
            </AuthorizeView>
            
            <AuthorizeView Roles="SystemUser">
                <Authorized Context="sys">
                    <div class="nav-item">
                        <label for="sidebar-toggle">
                            <NavLink class="nav-link d-flex align-items-center gap-2" href="company-dashboard">
                                <span class="oi oi-dashboard" aria-hidden="true"></span>
                                <span>Dashboard</span>
                            </NavLink>
                        </label>
                    </div>
                    <div class="nav-item">
                        <label for="sidebar-toggle">
                            <NavLink class="nav-link d-flex align-items-center gap-2" href="company-dashboard/warehouses">
                                <span class="oi oi-home" aria-hidden="true"></span>
                                <span>Almacenes</span>
                            </NavLink>
                        </label>
                    </div>
                    <div class="nav-item">
                        <label for="sidebar-toggle">
                            <NavLink class="nav-link d-flex align-items-center gap-2" href="company-dashboard/categories">
                                <span class="oi oi-tags" aria-hidden="true"></span>
                                <span>Categorías</span>
                            </NavLink>
                        </label>
                    </div>
                    <div class="nav-item">
                        <label for="sidebar-toggle">
                            <NavLink class="nav-link d-flex align-items-center gap-2" href="company-dashboard/unitofmeasures">
                                <span class="oi oi-ruler" aria-hidden="true"></span>
                                <span>Unidades</span>
                            </NavLink>
                        </label>
                    </div>
                </Authorized>
            </AuthorizeView>
        </Authorized>
    </AuthorizeView>
</nav>